.Box2{
    background-color: rgb(249, 124, 174);
    margin-top: 3%;
    height: auto;   
    width:100%; 
    box-sizing: border-box;
    padding: 20px;
}
.structuref2{
    width:100%;
   

}
.listf1{
    margin-left:76%;
}
.tf1{
    width:300px;
}
.name1{
    margin-left:40%;
}
@media (max-width: 600px) {
    .list1, .name1 {
        margin-left: 0; 
        margin-right: 0; 
        text-align: center; 
    }
}