.Structure_r{
    width:90%;
    max-width: 600px;
    height:auto;
    padding:20px;
    margin: 80px auto 0 auto; 
    box-sizing: border-box;
    
   
}
.fo2{
    margin-left:20%;
    margin-right: 20%;
}

.label_structure_r{
    padding:10px;
    font-size:large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    margin-right: 50px;
}
.field_structure_r{
    padding:7px;
    border:6px;
    width:150px;
    height:30px;
    border-radius: 10px;
    margin-left: 50px;
    margin-bottom: 10%;
}
.Box1_r{
    background-color: #c42f2ff5;
    margin: 3% auto; 
    width: 90%; 
    max-width: 1300px; 
    padding: 20px; 
    border-radius: 3%;
    box-sizing: border-box;
   padding-bottom: 84px;
    
}
.heading_r{
    text-align: center;
    padding-top: 4.5%;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom:3% ;
    
}
.button1_r{
    display: block;
    margin-top: 20px ; 
    margin-left: 82%;
    margin-right: 8%;
    width: 10%;
    max-width: 230px; 
    height: auto;
    padding: 10px;
    border-radius: 5%;
    background-color: black;
    color: azure;
    border: none;
    font-weight: bold; 
    text-align: center;
    min-width:100px;
    
}
.button1_r:hover{
    background-color : rgb(9, 30, 190); 
}
.button1_r:active{
    background-color: rgb(69, 165, 42);
}
@media (max-width: 600px) {
    .Structure_r{
        width: 100%; 
        margin: 20px auto;
    }

    .Box1_r {
        width: 95%; 
        margin: 10px auto; 
    }

    .button1_r {
        width: 70%; 
    }
}
.review-container {
    display: grid;
    gap: 20px; 
    padding: 20px;
    margin-left: 71px;
  }
.Box2_r{
    background-color:  #b222225e;
    margin: 3% auto; 
    width: 50%; 
    
    margin-left:10%;
    padding: 20px; 
    margin-left: 13px;
    border-radius: 3%;
    box-sizing: border-box;
   padding-bottom: 25px;
   min-width: 350px; 
    
}
.heading2_r{
    font-weight: 700;
    text-align: center;
    font-size: 60px;
}

.set1{
    margin-top:30px;
    margin-left: 45%;
}
.content1{
    margin-left: 67px;
    font-size: 20px;
    word-wrap:break-word;
    overflow-wrap:break-word;
    white-space:normal;
    margin:0;
}
.content2{
    margin-left: 67px;
    background-color: rgb(245, 146, 146);
    padding: 10px;
    font-size: 20px;
    height: fit-content;
    width:200px;
    word-wrap:break-word;
    overflow-wrap:break-word;
    white-space:normal;
    margin:0;
}
.buttonr1{
    display: block;
    margin: 20px auto; 
    width: 50%;
    max-width: 350px; 
    height: auto;
    padding: 10px;
    border-radius: 5%;
    background-color: black;
    color: azure;
    border: none;
    font-weight: bold; 
    text-align: center;
}
.buttonr1:hover{
    background-color : rgb(9, 30, 190); 
}
.buttonr1:active{
    background-color: rgb(69, 165, 42);
}
.Inputbill{
    margin-top:56px;
    margin-left: 729px;
}
.Inputbill1{
    margin-top:20px;
    margin-left: 775px;
}

.btn-space{
    margin-right: 5px;
   
}
@media(max-width:600px){
    .review-container{
        grid-template-columns: 1fr;
        margin-left: 0%;
    }
.Inputbill{
    margin-left: auto;
}
.Inputbill1{
    margin-left: auto;
}
}

@media(min-width:601px){
    .button1_r {
        width: 30%;
       margin-left:auto; 
       
    }
}
@media(max-width:600px){
    .button1_r {
        width: 30%;
       margin-left:auto; 
       margin-right:15%;
    }
    
}

@media (min-width: 601px) {
    .review-container {
      grid-template-columns: repeat(2, 1fr);
    }
    .button1_r {
        width: 30%;
       margin-left:auto; 
       margin-right:5%;
    }
    .Inputbill{
        margin-left:40%;
    }
    .Inputbill1{
        margin-left: 40%;}
   
  }
  
  
  @media (min-width: 992px) {
    .review-container {
      grid-template-columns: repeat(3, 1fr); 
    }
    .button1_r {
        width: 30%;
       margin-left:auto; 
       margin-right:8%;
    }
   
  }
  